table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

table td,
table th {
  font-size: 14px;
  border: 1px solid #e7e5ea;
  padding: 12px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

table th {
  font-weight: 600;
  text-align: left;
  background-color: #f7f7f7;
  color: #000;
}
