@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply font-size for text-body */
@layer components {
  .text-body-sm {
    @apply text-h6;
  }

  .text-body-md {
    @apply text-h5;
  }

  .text-body-lg {
    @apply text-h4;
  }
}

* {
  box-sizing: border-box;
}

body {
  /* Scrollbar vertical */
  overflow-y: overlay;

  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tag-overlay::before {
  content: '';
  background-color: var(--bg);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
